<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">

    <insert id="insertBatch">
        insert into order_detail (name, image, order_id, dish_id, setmeal_id, dish_flavor, amount) 
        VALUES
            <foreach collection="orderDetailList" item="od" separator=",">
                (#{od.name},#{od.image}, #{od.orderId}, #{od.dishId}, #{od.setmealId}, #{od.dishFlavor}, #{od.amount})
            </foreach>
        
    </insert>

    <select id="countDishNumber" resultType="com.sky.query.SalesTopResult">
        SELECT od.name as dishName , sum(od.number) as dishNumber
        FROM `order_detail` od right JOIN orders o
        on od.order_id = o.id
        <where>
            <if test="beginTime != null">
                o.order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and o.order_time &lt;= #{endTime}
            </if>
            <if test="status != null">
                and o.status = #{status}
            </if>
        </where>
        GROUP BY `dishName`
        ORDER BY dishNumber desc
        limit 0,10
    </select>

</mapper>
